.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #4a90e2, #7c83fd);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--while-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    z-index: -1;
    right: 4px;
    top: -29px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}

.header__navbar-user-item {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4.5px;
}

.header__navbar-icon:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: flex;
    align-items: center;
}

/* header notification */
.header__notify {
    position: absolute;
    z-index: 1;
    margin-top: 12px;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    background-color: var(--while-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--while-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8tem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* app container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.catagory {
    border-radius: 2px;
    background-color: var(--while-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 12px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item:before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
    display: block;
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}


/* product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 7px 10px 0;
}


/* footer */
.footer {
    border-top: 4px solid var(--primary-color);
}
